index.html Qui a accès Propriétés système Type HTML Taille 2 Ko Espace de stockage utilisé 6 Ko Emplacement view Propriétaire Alexandre Ruiz Date de modification 16 févr. 2022 par Alexandre Ruiz Ouvert 15:12 par moi Date de création 16 févr. 2022 Pas
de description Téléchargement autorisé pour les lecteurs
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>News</title>
</head>

<body>

    <h1> TP1 JS </h1>

    <section id="news">
        <h2 id="titleNews"></h2>
        <article id="article-1">
            <h3 class="title">News 1</h3>
            <p>Ma super news 1</p>
            <button class="viewDetail">View detail</button>
        </article>

        <article id="article-2">
            <h3 class="title">News 2</h3>
            <p>Ma super news 2</p>
            <button>View detail</button>
        </article>

        <article id="article-3">
            <h3 class="title">News 3</h3>
            <p>Ma super news 3</p>
            <button>View detail</button>
        </article>
    </section>

    <form id="addNewsForm">
        <fieldset>
            <label>Nom de la news* :</label><br/>
            <input name="titleToAdd" type="text" /><br/>

            <label>Description de la news* :</label><br/>
            <textarea name="descriptionToAdd"></textarea><br/>

            <input type="submit" name="addNewsBtn" />
        </fieldset>
    </form>
</body>

<script src="../dist/js/duplicatearticleerror.js"></script>
<script src="../dist/js/requiredpropertyerror.js"></script>
<script src="../dist/js/article.js"></script>

<script src="../dist/js/const.js"></script>
<script src="../dist/js/log.js"></script>
<script src="../dist/js/html.js"></script>

<script src="../dist/js/math.js"></script>

<script src="../dist/js/main.js"></script>

</html>