<!-- PEYRONON ARNO 2A GROUPE A3 -->

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>My blog</h1>

    <section id="news">
        <h2 id="titleNews">News</h2>
        <article class="test">
            <h3 class="title">News 1</h3>
        </article>

        <article class="test">
            <h3 class="title">News 2</h3>
        </article>

        <article>
            <h3 class="title">News 3</h3>
        </article>


    </section>

    <form id="addNewsForm" name="form">
        Title : <input id="titleToAdd" name="titleToAdd" type="text" />
        <input onclick="addTexte()" type="submit" name="addNewsBtn" value="Add news" id="buttonClick" />
    </form>

    <article id="news">
        <h3></h3>
    </article>


</body>


<!-- Fichier qui contient les logs des messages-->
<script src="../public/js/log.js"></script>

<!-- Fichier contenant les couleurs-->
<script src="../public/js/const.js"></script>

<!-- Fichier contenant l'iterateur de i allant de 0 à 4-->
<script src="../public/js/iterateur.js"></script>

<!-- FIchier qui récupère les élements-->
<script src="../public/js/getContenu.js"></script>

<!-- Fichier main -->
<script src="../public/js/main.js"></script>

</html>